[submodule "lib/tpl"]
	path = lib/tpl
	url = https://github.com/troydhanson/tpl.git
[submodule "lib/shr"]
	path = lib/shr
	url = https://github.com/troydhanson/shr.git
[submodule "lib/libut"]
	path = lib/libut
	url = https://github.com/troydhanson/libut.git
